export DATABASE_DIALECT=postgres
export DATABASE_HOST=10.13.37.1
export DATABASE_PORT=1337
export DATABASE_USER=user
export DATABASE_PASSWORD=user
export DATABASE_NAME=testing

export WEBSERVER_ADDRESS=10.13.37.1
export WEBSERVER_PORT=1234

